    <script type="text/javascript" language="javascript">
        jQuery(function($){
            {% if file_url|length > 0 %}
                imageUploaded();
            {% endif %}
        });

        function hideJCropImage() {
            $('.jcrop-holder').hide();
        }

        function imageUploaded() {
            // Create variables (in this scope) to hold the API and image size
            $('.jcrop-holder').show();
            var jcrop_api,
                boundx,
                boundy,

                // Grab some information about the preview pane
                $preview = $('#preview-pane'),
                $pcnt = $('#preview-pane .preview-container'),
                $pimg = $('#preview-pane .preview-container img'),

                xsize = {{ thumbnail_width }},
                ysize = {{ thumbnail_height }};

            $pcnt.width({{ thumbnail_width }});
            $pcnt.height({{ thumbnail_height }});

            $('#id_jcrop-preview_{{ input_name }}').attr('src', $('#id_jcrop-target_{{ input_name }}').attr('src'));

            console.log('init',[xsize,ysize]);
            $('#id_jcrop-target_{{ input_name }}').Jcrop({
                setSelect: [ 0, 0, {{ thumbnail_width }}, {{ thumbnail_height }} ],
                onChange: updatePreview,
                onSelect: updateInput,
                aspectRatio: xsize / ysize
            },function(){
              // Use the API to get the real image size
              var bounds = this.getBounds();
              boundx = bounds[0];
              boundy = bounds[1];
              // Store the API in the jcrop_api variable
              jcrop_api = this;

              // Move the preview into the jcrop container for css positioning
              $preview.appendTo(jcrop_api.ui.holder);
            });

            function updatePreview(c)
            {
              if (parseInt(c.w) > 0)
              {
                var rx = xsize / c.w;
                var ry = ysize / c.h;

                $pimg.css({
                  width: Math.round(rx * boundx) + 'px',
                  height: Math.round(ry * boundy) + 'px',
                  marginLeft: '-' + Math.round(rx * c.x) + 'px',
                  marginTop: '-' + Math.round(ry * c.y) + 'px'
                });
              }
            };

            function updateInput(c)
            {
                $.extend(c, {
                    image_width: $('#id_jcrop-target_{{ input_name }}').width(),
                    image_height: $('#id_jcrop-target_{{ input_name }}').height()
                });
                $("#id_{{ input_name }}-crop-data").val(JSON.stringify(c));
            };
        }
    </script>

    <input type="hidden" class="file-path" name="{{input_name}}-original" value="{{image_value}}"  />
    <input type="hidden" name="{{input_name}}-crop-data" id="id_{{input_name}}-crop-data" />
    <div class="ajaximage">
        <a class="file-link" target="_blank" href="{{file_url}}">See original image</a>
        <img class="file-img" id="id_jcrop-target_{{input_name}}" src="{{file_url}}">

        <a class="file-remove" href="#remove">Remove</a>
        <input class="file-path" type="hidden" value="{{file_path}}" id="{{element_id}}" name="{{input_name}}" />
        <input type="file" class="file-input" />
        <input class="file-dest" type="hidden" value="{{upload_url}}">
        <div class="progress progress-striped active">
            <div class="bar"></div>
        </div>
    </div>

    <div id="preview-pane">
        <div class="preview-container">
            <img src="{{file_url}}" id="id_jcrop-preview_{{input_name}}" class="jcrop-preview" alt="Preview" />
        </div>
    </div>
