{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
<script type="text/javascript" src="{% bootstrap_jquery_url %}"></script>
<script type="text/javascript" src="{% static 'posts/js/jquery.cookie.js' %}"></script>
{% bootstrap_javascript %}
<script type="text/javascript" src="{% static 'posts/js/i18next-1.7.5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'posts/js/translation.js' %}"></script>
<script type="text/javascript" src="{% static 'posts/js/buaralar-ajax.js' %}"></script>
<title></title>
{% bootstrap_css %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/offcanvas.css" />
    <nav class="navbar navbar-fixed-top navbar-inverse header" role="navigation">
        <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="/posts" data-i18n="site_name">Buaralar Istanbul</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <!--
                    <li class="active"><a href="#" data-i18n="menu.home">Home</a></li>
                    <li><a href="/about" data-i18n="menu.about">About</a></li>
                    <li><a href="/contact" data-i18n="menu.contact">Contact</a></li>
                  -->
                  <li class="dropdown">
                        <a href="#" id="a-dropdown-language" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"></a>
                        <ul id="ul-dropdown-language" class="dropdown-menu" role="menu">
                            <li language="tr"><a href="#"><img src="{{ MEDIA_URL }}images/lang_tr.png" />&nbsp;<span data-i18n="lang.turkish">Türkçe</span></a></li>
                            <li language="en"><a href="#"><img src="{{ MEDIA_URL }}images/lang_en.png" />&nbsp;<span data-i18n="lang.english">English</span></a></li>
                        </ul>
                  </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container">
        {% block content %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <hr>
                <p style="float:left">&copy; <a href="/posts" data-i18n="site_address">Buaralar.com</a> {{ this_year }}</p>
                <p style="float: right">
                    <a href="/about"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;<span data-i18n="menu.about">About</span></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;<span data-i18n="menu.contact">Contact</span></a></p>
            </div>
        </footer>

    </div><!--/.container-->