<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
        <img src="{{ selected_event.image }}" alt=""><br />
        <span class="post_title_selected">{{ selected_event.title_text }}</span>
    </div>
    <div class="col-xs-6 col-sm-3">
        Zaaa
    </div>
</div>
<table class="table table-striped selected-post">
    <tr>
        <td class="col-md-2"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>&nbsp;<span data-i18n="what">What?</span></td>
        <td class="col-md-4"><span>{{ selected_event.category.description_text }}</span></td>
        <td class="col-md-2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;<span data-i18n="when">When?</span></td>
        <td class="col-md-4">
            <span>{{ selected_event.event_date_begin|date:"H:i" }}</span>
            {% if selected_event.event_date_end %}
                <span> - {{ selected_event.event_date_end|date:"H:i" }}</span>
            {% endif %}
            {% if selected_event.get_date %}
                <span data-i18n="{{ selected_event.get_date }}"></span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="col-md-2"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>&nbsp;<span data-i18n="where">Where?</span></td>
        <td class="col-md-4"><span>{{ selected_event.location_text }}</span></td>
        <td class="col-md-2"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp;<span data-i18n="how_much">How much?</span></td>
        <td class="col-md-4">
            <span>{{ selected_event.price_low }} TL</span>
            {% if selected_event.price_high %}
                <span> - {{ selected_event.price_high }} TL</span>
            {% endif %}
        </td>
    </tr>
</table>